:root {
    --primary: #185EDE;
    --secondary: #013392;
    --whiteFontColor: #F5F5F5;
    --darkFontColor: #343434;
    --background: #8d8d8d;
    --major-Background: #E9EAEB;
    --minor_background: #DADADA;
}

body {
    font-family: sans-serif;
    background-color: #DADADA;
}

@font-face {
    font-family: Antonio-Bold;
    src: url("assets/Fonts/Antonio-Bold.ttf");
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: var(--darkFontColor);
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

/* */

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.50em;
}

h4 {
    font-size: 1.25em;
}

h5 {
    font-size: 1em;
}

p {
    font-size: 100%;
}

body {
    font-size: 83%;

}

/* Measurements: Baased on 480px
/*160/480 * 100 = 33.33*/
/*32/480 * 100 = 32.66*/
/*16/480 * 100 = 3.33*/
/*12/480 * 100 = 2.5*/
/* 8/480 * 100 = 1.66%*/

/* */

#grid-container {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
}

/*****************  Classes **********************/
.button {
    display: block;
    width: 33.33%;
    /*160/480 * 100 = 33.33*/
    padding: 3.33% 0;
    /*16/480 * 100 = 3.33*/
    text-align: center;
    font-size: 1.2em;
    color: var(--whiteFontColor);
    border-radius: 8px;
    margin-top: 1.66%;
    text-decoration: none;
    background-color: var(--darkFontColor);
}

.button:hover {
    background-color: var(--secondary);
}

.social-nav,
.footer-nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.facebook {
    background: url(assets/social/facebook.png) no-repeat;
}

.facebook:hover,
.facebook:visited {
    background: url(assets/social/blue-facebook.png) no-repeat;
}

.linked-in {
    background: url(assets/social/linked-in.png) no-repeat;
}

.linked-in:hover,
.linked-in:visited {
    background: url(assets/social/blue-linked-in.png) no-repeat;
}

.twitter {
    background: url(assets/social/twitter.png) no-repeat;
}

.twitter:hover,
.twitter:visited {
    background: url(assets/social/blue-twitter.png) no-repeat;
}

.read-more {
    display: block;
    width: 26.6%;
    /*128/480 * 100 = 33.33*/
    padding: 2% 0;
    /*12/480 * 100 = 2.5*/
    text-align: center;
    color: var(--darkFontColor);
    border-radius: 4px;
    margin: 2% 0;
    /*12/480 * 100 = 2.5*/
    text-decoration: none;
    border: #A6A6A6 solid 1px;
    box-shadow: 1px 2px 4px #A6A6A6;
}

.read-more:hover {
    color: var(--whiteFontColor);
    background-color: var(--secondary);
    border: var(--secondary) solid 2px;
}

.first-letter {
    display: inline-block;
    text-indent: 32px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3em;
    margin-right: 1.66%;
    /* 8/480 * 100 = 1.66%*/
    color: var(--darkFontColor);
}

/******************** Header  *********************/
header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(64px, auto);
    align-items: center;
    background: var(--major-Background);
    padding: 0 3.33% 0 0;
    /* 16/480 * 100 = 3.33%*/
}

header div.logo {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(8, 1fr);
}

.logo a {
    grid-column: 1/2;
    justify-self: center;
    display: block;
    width: 24px;
    height: 32px;
    text-indent: -10000px;
    background: url(assets/social/darkLogo.png) no-repeat;
}

.logo a:hover {
    background: url(assets/social/blueLogo.png) no-repeat;
}

.logo h3 {
    grid-column: 2/8;
}

#Mobile_menu {
    grid-column: 8/9;
    width: 100%;
    height: 40px;
    background: url(assets/social/burger.png) no-repeat 100% center;
    cursor: pointer;
}

header nav h3 {
    text-indent: -10000px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    border-bottom: rgb(165, 165, 165) solid 1px;
}

header nav a {
    text-decoration: none;
    color: #EEE;
    display: block;
    padding: 3.33%;
    /* 16/480 * 100 = 3.33%*/
    background-color: var(--secondary);
}

header nav a:hover {
    background-color: #185EDE;
}

header nav ul {
    height: 0;
    overflow: hidden;
}

header nav ul.open {
    height: auto;
}

/*****************  Banner  ************************/
#main-banner {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(80px, auto);
    position: relative;
    /*padding: 0 3.33% 0 ;     16/480 * 100 = 3.33%*/
}

#banner-background {
    max-height: 90%;
    /* 768/800 * 100 = 96%*/
    overflow: hidden;
}

#banner-background img {
    width: 100%;
    opacity: 48%;
}

#banner-content {
    position: absolute;
    top: 13.33%;
    /* 64/480 * 100 = 13.33%*/
    left: 3.33%;
    /* 16/480 * 100 = 3.33%*/
}

#lead-banner h3 {
    font-family: 'Times New Roman', Times, serif;
    color: var(--primary);
    /* 8/480 * 100 = 1.66%*/

}

#lead-banner h1 {
    font-family: Antonio-Bold;
    font-weight: bold;
    font-size: 300px;
    color: var(--darkFontColor);
    font-size: 2.5em;
    line-height: 1.3em;
    margin-top: 3.33%;
    padding: 0 3.33% 1.66% 0;
    /* 16/480 * 100 = 3.33%*/
}

#lead-banner p {
    line-height: 1.5em;
    color: #585858;
    padding: 0 6.33% 1.66% 0;
    /* 8/480 * 100 = 1.66%*/
}

#banner-content h4 {
    text-indent: -10000px;
}

#social {
    width: 33.33%;
    /*160/480 * 100 = 33.33*/
}

.social-nav li {
    justify-self: center;
}

.social-nav li a {
    display: block;
    width: 32px;
    height: 32px;
    text-indent: -1000px;
}

/****************** Main *************************/
main {
    display: grid;
}

main section {
    margin: 3.66% 0;
    padding: 0 3.33%;
    /* 16/480 * 100 = 3.33%*/
}

section h2 {
    padding: 3.33% 0;
    /* 16/480 * 100 = 3.33%*/
}

section h4 {
    line-height: 1.5em;
    padding: 2% 0;
}

section p {
    text-align: justify;
    line-height: 1.5em;
    color: #585858;
}

#practice-areas h4,
h2 {
    font-weight: bold;
    color: var(--darkFontColor);
}

#practice-areas img {
    width: 100%;
}

#practice-areas ul {
    margin-top: 5%;
    /* 24/480 * 100 = 5%*/
}

#practice-areas ul li {
    margin-bottom: 5%;
    padding: 3.33%;
    border: #A6A6A6 solid 1px;
    box-shadow: 1px 2px 4px #A6A6A6;
}

#layout-button {
    display: none;
}

#stack-grid {
    margin: 6.33% 0;
}

/******************** Articles  *********************/
#articles>ul {
    margin-top: 5%;
    /* 24/480 * 100 = 5%*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

#articles ul .title {
    grid-column: 1/3;
}

#articles ul .articleImage {
    grid-column: 3/5;
    max-height: 56%;
    overflow: hidden;
    margin-left: 20px;

}

#articles ul .description {
    margin-top: 6.33%;
    margin-bottom: 6.66%;
    grid-column: 1/5;
}

#articles ul .title ul {
    display: grid;
    grid-template-columns: 1fr;
}

#articles ul .title ul h4 {
    padding: 0;
}

#articles ul .title ul li:nth-child(1) {
    margin-bottom: 3.33%;
}

#articles ul .title ul li {
    clear: left;
}

#articles ul .title ul li:nth-child(2):after {
    display: block;
    content: " ";
    width: 48px;
    height: 45px;
    float: left;
    margin-left: 5px;
    border: #013392 solid 1px;
    border-radius: 4px;
    background: url(assets/images/down.png) no-repeat right top;

}

#articles ul .title ul li a {
    display: block;
    width: 80%;
    max-width: 160px;
    float: left;
    color: var(--darkFontColor);
    text-decoration: none;
    text-align: center;
    padding: 6.66% 0;
    border: #A6A6A6 solid 2px;
    border-radius: 4px;
}

#articles ul .title ul li a:hover {
    color: var(--whiteFontColor);
    background-color: var(--secondary);
    border: var(--secondary) solid 2px;
}

#articles ul .articleImage img {
    width: 100%;
}

#articles ul .description ul {
    display: flex;
    margin-top: 3.66%;
    align-items: center;
    border-bottom: var(--background) solid 8px;
}

#articles ul .description ul li {
    margin: 0;
    padding-bottom: 1.66%;
    flex-grow: 1;
}

#articles ul .description>p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1em;
}

#articles ul .description ul li img {
    width: 32px;
    height: 32px;
    opacity: 80%;

}

/******************** About Us  *********************/

#about-us {
    display: grid;
    margin: 0;
    padding: 0;
}

#about-us div {
    margin-top: 3.33%;
}

#sub-header {
    background-color: var(--secondary);
    padding: 3.33%
}

#sub-header h2 {
    font-size: 2em;
}

#sub-header h2,
#sub-header p,
#mission h4,
#mission p {
    color: #bdbdbd;

}

#sidebar {
    padding: 3.33%
}

#mission {
    padding: 6.33% 3.33% 0 8.33%;
    border-left: #0046CB solid 32px;
    background: url(assets/images/small-pillar.jpg) no-repeat top left;
}

#mission a {
    display: block;
    width: 33.33%;
    /*128/480 * 100 = 33.33*/
    padding: 3.33%;
    /*12/480 * 100 = 2.5*/
    text-align: center;
    color: var(--whiteFontColor);
    border-radius: 4px;
    margin: 3.33% 0;
    text-decoration: none;
    border: #A6A6A6 solid 1px;
}

#mission a:hover {
    background: var(--whiteFontColor);
    color: #013392;
}

/******************** Register  *********************/

#register {
    display: grid;
    padding: 6.33% 0 6.33% 6.66%;
}

#register h3 {
    font-family: 'Times New Roman', Times, serif;
}

#register h1 {
    font-size: 2.5em;
    margin: 3.33% 0;
}

#register form input {
    background: none;
    border: 1px solid var(--darkFontColor);
    color: var(--darkFontColor);
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
    padding: 3.33%;
    display: block;
    width: 66.66%;
    margin: 3.33% 0;
}

#register form button {
    border: none;
}

/******************** Footer  *********************/
footer {
    background: #121212;

}

footer #grid-ul {
    background: #d1d1d1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 3.33%;
    /* 16/480 * 100 = 3.33%*/
}

#grid-ul .columne {
    padding: 3.33%;
}

#grid-ul li.first {
    grid-column: 1/3;
}

#grid-ul li.second {
    grid-column: 2/3;
    grid-row: 2/3;


}

#grid-ul li.third {
    grid-column: 1/2;
    grid-row: 2/3;
}

/*******************************/
/* Baseic stile of the footer */
footer a,
footer h4,
footer p,
footer li {
    color: var(--darkFontColor);

}

/*******************************/
/* First columne of the footer*/

.first ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.first ul li:nth-child(1) {
    grid-column: 1/2;
}

.first ul li:nth-child(2) {
    grid-column: 2/5;
    align-self: center;
}

.first ul li:nth-child(3) {
    grid-column: 1/6;
}

.first ul a {
    display: block;
    width: 24px;
    height: 32px;
    text-indent: -10000px;
    background: url(assets/social/darkLogo.png) no-repeat;
}

.first ul a:hover {
    background: url(assets/social/blueLogo.png) no-repeat;

}

.first ul h4 {
    margin-left: -20%;
}

.first ul p {
    text-align: justify;
    line-height: 1.5em;
    padding: 3.33% 0;

}

/*******************************/
/* second columne of the footer*/
li.second>ul {
    padding-left: 3.33%;
}

li.second ul li {
    margin-top: 6.33%;
}

li.second ul a {
    text-decoration: underline;
}

li.second ul a:hover {
    font-style: italic;
}

.footer-nav {
    width: 70%;
    /*160/480 * 100 = 33.33*/
    padding-top: 3.33%;
}

.footer-nav li {
    justify-self: start;
}

.footer-nav li a {
    display: block;
    width: 32px;
    height: 32px;
    text-indent: -1000px;
}

/*******************************/
/* third columne of the footer*/
li.third ul li {
    margin-top: 6.33%;
}

/*******************************/
/* Copy Right*/
#copyright>ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

#copyright>ul li:nth-child(1) {
    grid-column: 1/3;
    padding: 3.33% 3.33%;
}

#copyright>ul li:nth-child(2) {
    grid-column: 3/4;
    padding: 3.33% 3.33%;
}

#footer-nav {
    display: flex;
    justify-content: end;
}

#copyright p {
    color: var(--background);
    font-size: 90%;
}

#copyright a {
    font-size: 80%;
    color: var(--background);
}

#copyright a:hover {
    color: var(--whiteFontColor);
    font-style: italic;
}


/****************************** Media Queries *********************************/

/*************************** Tablet *********************/
@media screen and (min-width: 768px) {
    #grid-container {
        width: 100%;
        min-width: 600px;
        margin: 0 auto;
    }

    body {
        font-size: 100%;
    }

    .logo {
        padding: 3.33%;
    }

    .logo a {
        justify-self: start;
    }

    .logo h3 {
        margin-left: -8%;
    }

    .logo h3 {
        grid-column: 2/8;
    }

    .current {
        color: var(--secondary);
    }

    header nav {
        margin-bottom: 3.33%;
    }

    #Mobile_menu {
        display: none;
    }

    header nav ul {
        margin-top: -5%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        height: auto;
    }

    header nav ul li {
        width: 100%;
        background-color: none;
        justify-content: center;

    }

    header nav ul li {
        border-bottom: none;
    }

    header nav a {
        font-weight: bold;
        color: var(--darkFontColor);
        opacity: 72%;
        background: none;
        padding: 5%;
        text-align: center;
    }

    header nav a:hover {
        background: none;
        color: var(--secondary);
    }

    /************************** Banner **************************/

    #banner-background {
        max-height: 100%;
        /* 768/800 * 100 = 96%*/
        overflow: hidden;
    }

    #banner-background img {
        width: 100%;
        opacity: 48%;
    }

    #banner-content {
        position: absolute;
        top: 10%;
        /* 64/480 * 100 = 13.33%*/
        left: 8%;
        /* 16/480 * 100 = 3.33%*/
    }

    #lead-banner h3 {
        font-family: 'Times New Roman', Times, serif;
        color: var(--primary);
        font-size: 2em;
        /* 8/480 * 100 = 1.66%*/

    }

    #lead-banner h1 {
        font-size: 3em;
    }

    #lead-banner p {
        line-height: 2em;
        color: #585858;
        padding: 2.5% 10.33% 1.66% 0;
        /* 8/480 * 100 = 1.66%*/
    }

    #banner-content h4 {
        text-indent: -10000px;
    }

    #social {
        margin-top: -2%;
        width: 33.33%;
        /*160/480 * 100 = 33.33*/
    }

    /************************** Main **************************/
    /**** Practice Areas ***********/
    #practice-areas ul {
        margin: 3.33% 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.33%;
        row-gap: 1%;
    }

    #practice-areas ul li {
        margin: 0;
        padding: 3.33%;
    }

    #practice-areas ul p,
    #practice-areas ul h4 {
        padding: 1.33% 3.33%;
        text-align: left;
    }

    #practice-areas ul a {
        padding: 3.33%;
        width: 32.6%;
        margin-left: 3.33%;
    }

    /******* Articles */
    #layout-button {
        margin-top: 8.33%;
        display: block;
    }

    #layout-button ul {
        list-style-type: none;
        width: 32%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;


    }

    #layout-button li {
        flex: 0 1 40%;
        background-color: var(--background);
      
    }
    #layout-button li:hover {
        background-color: var(--secondary);
    }

    #layout-button ul a {
        display: block;
        width: 100%;
        text-align: center;
        text-decoration: none;
        color: #fff;
        padding: 10px 0;
    }

    #stack-grid {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    article {
        flex: 0 1 49%;
        margin: 0.70% 0;
        border: #A6A6A6 solid 1px;
        box-shadow: 1px 2px 4px #A6A6A6;
        padding: 3.33%;
        box-sizing: border-box;
    }

    #stack-grid p {
        text-align: left;
    }

    article.stack {
        flex: 0 1 100%;
    }

    /************************** Main **************************/
    /**** Articles ***********/
    #articles ul .title ul li a {
        width: 100%;
        max-width: 200PX;
        padding: 4.5% 0;
    }

    #articles ul .articleImage img {
        width: 80%;
    }

    /************************** Main **************************/
    /**** About Us ***********/

    #mission {
        padding: 6.33% 6.33% 0 13.33%;
        border-left: #0046CB solid 32px;
        background: url(assets/images/mid-pillar.jpg) no-repeat top left;
    }

    #mission p {
        margin-top: 6.33%;
    }

    #mission a {
        display: block;
        width: 24%;
        /*128/480 * 100 = 33.33*/
        padding: 2.5%;
        /*12/480 * 100 = 2.5*/
        text-align: center;
        color: var(--whiteFontColor);
        border-radius: 4px;
        margin: 3.33% 0;
        text-decoration: none;
        border: #A6A6A6 solid 1px;
    }

    #mission a:hover {
        background: var(--whiteFontColor);
        color: #013392;
    }

}

/************************** Main **************************/
/**** Footer ***********/
.second {
    margin-left: 32%;
}

li.third ul li:last-child {
    width: 80%;
}




/**********************************************************************/
/************************* Desktop ************************/
@media screen and (min-width: 960px) {
    #grid-container {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }

    body {
        font-size: 100%;
    }

    .logo {
        padding: 3.33%;
    }

    .logo a {
        justify-self: start;
    }

    .logo h3 {
        margin-left: -8%;
    }

    .logo h3 {
        grid-column: 2/8;
    }

    .current {
        color: var(--secondary);
    }

    #Mobile_menu {
        display: none;
    }

    /************************** Header **************************/
    header {

        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: minmax(96px, auto);
        align-items: center;
        background: var(--major-Background);
        padding: 0 3.33% 0 3.33%;
        /* 16/480 * 100 = 3.33%*/
    }

    header div.logo {
        grid-column: 1/5;
        grid-template-columns: repeat(4, 1fr);
    }

    header nav {
        margin: 0;
        grid-column: 5/13;
        align-items: center;
    }



    /************************** Banner **************************/

    #main-banner {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: minmax(80px, auto);
        position: relative;
        /*padding: 0 3.33% 0 ;     16/480 * 100 = 3.33%*/
    }

    #banner-background {
        height: 700px;
        /* 768/800 * 100 = 96%*/
        overflow: hidden;
    }

    #banner-background img {
        width: 100%;
        opacity: 48%;
    }

    #banner-content {
        position: absolute;
        top: 14%;
        /* 64/480 * 100 = 13.33%*/
        left: 8%;
        /* 16/480 * 100 = 3.33%*/
    }

    #lead-banner h1 {
        font-size: 4em;
    }

    #social {
        margin: 0;
        width: 24%;
        /*160/480 * 100 = 33.33*/
    }

    /************************** Main **************************/
    /**** Practice Areas ***********/
    #practice-areas ul {
        margin: 3.33% 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 0.33%;
    }

    #practice-areas ul li {
        margin: 0;
        padding: 3.33%;
    }

    #practice-areas ul p,
    #practice-areas ul h4 {
        padding: 1.33% 3.33%;
        text-align: left;
    }

    #practice-areas ul a {
        padding: 3.33%;
        width: 40.6%;
        margin-left: 3.33%;
    }

    /******* Articles */
    #layout-button {
        margin-top: 4.33%;
        display: block;
    }

    #layout-button ul {
        list-style-type: none;
        width: 24%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;


    }

    #layout-button li {
        flex: 0 1 40%;
        background-color: var(--background);
     
    }
    #layout-button li:hover {
        background-color: var(--secondary);
    }

    #layout-button ul a {
        display: block;
        width: 100%;
        text-align: center;
        text-decoration: none;
        color: #fff;
        padding: 8px 0;
    }

    #stack-grid {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    article {
        flex: 0 1 32%;
        margin: 0.70% 0;
        border: #A6A6A6 solid 1px;
        box-shadow: 1px 2px 4px #A6A6A6;
        padding: 3.33%;
        box-sizing: border-box;
    }

    #stack-grid p {
        text-align: left;
    }

    article.stack {
        flex: 0 1 100%;
    }

    /******************* Articles  section ***********/

    #articles>ul {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }

    #articles>ul .description {
        grid-column: 3/7;
    }

    #articles>ul .articleImage {
        display: none;
    }

    #articles>ul .title ul li a {
        width: 80%;
        max-width: 160px;
        padding: 3.33% 0;
    }

    #articles ul .title ul li:nth-child(2):after {
        background: url(assets/images/left.png) no-repeat right top;

    }

    /**** About Us ***********/
    #about-us p {
        line-height: 24px;
    }

    #about-us div {
        margin: 0;
    }

    #about-us {
        background-color: var(--secondary);
        display: grid;
        grid-template-columns: repeat(12, 1fr);

    }

    #sub-header {
        grid-column: 2/9;
        padding-right: 10%;
    }

    #sidebar {
        background-color: var(--minor_background);
        grid-column: 9/13;
        padding: 12.33% 6.33%;
        margin-top: -30px;

    }

    #mission {
        grid-column: 5/13;
        padding: 6.33% 3.33% 0 8.33%;
        border-left: #0046CB solid 32px;
        background: url(assets/images/big-pillar.jpg) no-repeat top left;
    }

    #empty {
        background-color: var(--minor_background);
        grid-column: 9/13;
        height: 72px;
    }

    #mission {
        padding-left: 14%;
        padding-right: 8%;
    }

    /**** Regiseter ***********/
    #register {
        justify-content: center;
    }

    #register h1 {
        font-size: 4em;
        margin: 3.33% 0;
    }

    #register h3 {
        font-size: 2.5em;

    }

    #register form input {
        background: none;
        border: 1px solid var(--darkFontColor);
        color: var(--darkFontColor);
        text-transform: uppercase;
        border-radius: 5px;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
        padding: 3.33%;
        display: block;
        width: 60.66%;

    }

    #register .button {
        display: block;
        width: 32.33%;
        padding: 3.33% 0;
        text-align: center;
        font-size: 1.2em;
        color: var(--whiteFontColor);
        border-radius: 8px;
        margin-top: 1.66%;
        text-decoration: none;
        background-color: var(--darkFontColor);
    }

    /************************** Footer **************************/


    footer #grid-ul {

        grid-template-columns: repeat(3, 1fr);
        padding: 3.33%;
        /* 16/480 * 100 = 3.33%*/
    }

    #grid-ul .columne {
        padding: 3.33%;
    }

    #grid-ul li.first {
        grid-column: 1/2;
    }

    #grid-ul li.second {
        grid-column: 3/4;
        grid-row: 1/2;
    }

    #grid-ul li.third {
        grid-column: 2/3;
        grid-row: 1/2;
        padding-left: 20%;

    }

}