/* Universal Stylesheet*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*--Class Sections--*/
/*************************************************/
.wrapper {
    width: 100%;
    max-width: 960px;
    margin:  0 auto;
}

/*--Variable Sections--*/
/*************************************************/

:root {
    --Main-Header-Background:#EBEBEB;
    --Main-Banner-Background:#E2E2E2;
    --Header-Menu:#6F6F70;
}

/*--Header Section--*/
/*************************************************/

header {
    background : var(--Main-Header-Background);
    padding: 32px 0;
    border-bottom: solid 1px #D3D3D3;
}

header :after {
    display: block;
    content: "";
    clear: both;
    
}

/* Logo Section */
/************************************************/
#main-header {
   
}

#main-header h1{
    height: 0;
    text-indent: -100000px;
}

#logo{
    float: left;
    margin-left: 4.50em;
}

#logo a {
    display: block;
    background: url(imges/Darklogo.svg) no-repeat;
    width: 32px;
    height: 40px;
    text-indent: -10000px;
}

#logo a:hover{
    background: url(imges/BlueLogo.svg)no-repeat;
}

/* Logo Section */
/************************************************/

#burger{
    float: right;
    margin-top: 8px;
    margin-right: 4.50em;
}

#burger a {
    display: block;
    background: url(imges/Menu.svg)no-repeat;
    width: 24px;
    height: 24px;
    text-indent: -10000px;
    
}

#burger a:hover{
    background: url(imges/Blue-menu.svg)no-repeat;
   
}



/* Navigation Section */
/****************************************/

header nav {
    float: left;
}
#main-header nav {
    margin-top: 12px;
    width: 100%;
}
#main-header nav:after{
    display: block;
    content:"";
    clear: both;
}
#main-header nav h3 {
    height: 0;
    text-indent: -1000px;
}

#main-header nav li{
    float: left;
    margin-right: 64px;
}
 
#main-header nav a{
    color: var(--Header-Menu);
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}
header nav a:hover{
    font-weight: bold;
    color: #343434;
}
#home{
    color:#343434;
    font-weight: bold;
}
#home:hover{
    color: #4CA9DF;
}


/* Main Banner Section */
/****************************************/
#main-banner {
    position: relative;
    background-color: var(--Main-Banner-Background);
     
}
#main-banner {
  display: block;
    content: "";
    clear: both;
}

#position-banner{
    position: relative;
    padding: 96px 0;
}
/*--Social Media Secction--*/
/*****************************************/
#social {
    float: left;
    position: absolute;
    left: 7.50em;
    top: 256px;
}
#social h3{
    height: 0;
    text-indent: -10000px;
}
#social nav li{
    margin-bottom: 48px;
}

#social nav li a.facebook, a.twitter, a.linked-in{
    display: block;
    width: 24px;
    height: 24px;
    text-indent: -10000px; 
}
#social nav a.facebook {
    background:  url(imges/2Facebook.svg) no-repeat; 
}
#social nav a.facebook:hover{
     background: url(imges/Facebook.svg) no-repeat; 
}
#social nav a.linked-in {
    background: url(imges/2Linked-in.svg) no-repeat; 
}
#social nav a.linked-in:hover{
    background: url(imges/Linked-in.svg) no-repeat;
}
#social nav a.twitter {
    background: url(imges/2twitter.svg) no-repeat; 
}
#social nav a.twitter:hover{
    background: url(imges/twitter.svg) no-repeat;
}




#position-banner h1{
    font-size: 80px;
    margin-bottom: 72px;
}
#position-banner h2{
    font-size: 40px;
    background: #34457C;
    background-image: linear-gradient (to right, #34457C 0%, #34457C 40% ,#4CA9DF 40%, #34457C 100% );
    background-clip: text;
    -webkit-background-clip:text;
   -webkit-text-fill-color: transparent;
    margin-bottom: 32px;
    
}
#position-banner p{
    color:#606060;
    font-family: Arial;
    line-height: 24px;
    margin-bottom: 32px;
}
.main-bottom{
    display: block;
    width: 300px;
    background: #34457C;
    font-size: 32px;
    color: #eee;
    text-decoration: none;
    text-align: center;
    padding: 16px 0;
    font-family: sans-serif;
    font-weight: bold;
}
.main-bottom:hover{
    color:#343434;
    background-color:#4CA9DF;
}













